<div class="row m-3">
    <div class="col">
        <button class="btn btn-danger" (click)="viderPanier();">Vider Panier !</button>
    </div>
</div>
<div class="row m-3">
        <div class="col">
        <div *ngIf="seances.length != 0; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Lieu</th>
                    <th scope="col">N°</th>
                    <th scope="col">Film</th>
                    <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let seance of seances; let i of index">
                    <td>
                        <img class="img-thumbnail" style="max-height:6rem;" [src]="'images/' + seance.film.image" alt="image du film" />
                    </td>
                    <td class="align-middle">{{seance.cinema.nom}}</td>
                    <td class="align-middle">{{seance.id}}</td>
                    <td class="align-middle text-right">{{seance.film.titre}}</td>
                    <td class="align-middle text-right">{{seance.datetime | date:'short'}}</td>
                    <th class="align-middle">
                        <button class="btn btn-danger" (click)="retirerDuPanier(seance)">Supprimer</button>
                    </th>
                    </tr>
                </tbody>
            </table>
        </ng-template>
        <ng-template #elseBlock><p>Votre panier est vide.</p></ng-template>
    </div>
</div>
