<h5 class="m-2 card-title">{{seances[0].cinema.nom}}</h5>
<hr>
<div class="row">
    <div class="col-md-3">
        <div class="card mr-3 mb-3">
            <img class="img-fluid" [src]="'images/' + seances[0].film.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{seances[0].film.titre}}</h5>
                <p>durée: {{seances[0].film.duree.hours}}h {{seances[0].film.duree.minutes}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-lg-3 col-6" *ngFor="let seance of seances">
                <div class="card mr-3 mb-3 p-1 text-center border-dark">    
                    <h4>Seance n°{{ seance.id }}</h4>
                    <p><b>Au : </b>{{seance.cinema.nom}}</p>
                    <p><b>Film : </b>{{seance.film.titre}}</p>
                    <p><b>Prix : </b> {{ seance.prix }}€</p>
                    <p><b>Le : </b> {{ seance.datetime | date:'short' }}</p>
                    <button class="btn btn-success" (click)="ajouterAuPanier(seance);">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>
</div>
    