<div class="row mb-3">
    <div class="col-3 col-lg-2">
        <img class="" style="width: 5rem;" [src]="'images/' + film.image" alt="Film image cap">
    </div>
    <div class="col-9 col-lg-10">
        <h4>{{film.titre}}</h4>
        <p>durée: {{film.duree.hours}}h {{film.duree.minutes}}</p>
       
        <a [routerLink]="['/cinema', cinema.id, 'film', film.id, 'seances']" class="btn btn-primary">Voir les Séances</a>
       
    </div>
</div>

